/* login/css/main.css */
.content {
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
}

.content img {
	margin-bottom: 30px;
}

.login-main {
	background-color: rgba(255,255,255,1);
	padding: 10px;
	padding-top: 2px !important;
	border-top-size: 3px;
	border-top-style: solid;
}

.login-main label {
	display: inline-block;
	float: left;
	text-align: right;
	padding-top: 2px;
	width: 165px;
}

.login-main input {
	margin-left: 10px;
}

.login-main form {
	margin: 0;
}

.login-main input[type="submit"] {
	margin-left: 175px;
}

center {
	margin-top: 10px;
}